body{
	display: flex;
}
aside{
	background-color: blue;
}
aside h1{
	text-align: center;
}

li{
	color: white;
	text-align: center;
	list-style: none;
	padding: 2em;
}
li:hover{
	background-color: white;
	color: black;
}
section h1{
	margin:auto;
	border-bottom: solid 1px;
}
section{
	padding: 1em 3em;
}