html
	body.no-js
		include header.pug
		section
			- 
			if data
				h2 	Resultaten voor #{search}
				ul.list
					-for (var x = 0; x < 5; x++)
						a(href='/' + data.Search[x].imdbID)
							li
								img.image(src=data.Search[x].Poster)
								p= data.Search[x].Title
			form(action="/", method="post", class="addform")
				label(for='film') Zoek een film of serie:
				input(id='film',type='text',name='film', required)
			ul(id='list')
		script(src="/static/livesearch.js")
	footer
		include footer.pug