html
	head
		title Netflix dating
		style
			include ../static/style.css
	header
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', type='text/css' )
		nav
			a(href="/") Netflix
				//- img.image(src='static/netflix.png') 
			ul
				-
				if !user
					li
						a(href="/") Matches
				else
					li
						a(href="/") Account
				li
					a(href="about") About
				if !user
					li
						a(href="login") login
				else 
					li
						a(href="logout") logout
