html
	style
		include ../static/style.css
	header
		aside
			img.image(src='static/netflix.png') 
			ul
				li 
					a(href="/") Home
				li
					a(href="matches") Matches
				li
					a(href="about") About