html
	body
		include header.pug
		form 
		p Wat zijn jouw favoriete series?
		section
			- for (var x = 0; x < data.length; x++)
					h5= data[x].title
					button(id="js-remove", data-id=data[x].id, class="delete") Remove

			button(id="enable") Voeg film/serie toe
			form(action="/", method="post", class="")
				input(id='film',type='text',name='film')
				button(type="submit", class='add') +
	footer
		include footer.pug