@font-face {
  font-family: netflix;
  src: url(static/bebasnue.otf);
}
header img{
	width: 60px;
}
body{
	background-color: black;
  	height: 100%;
  	margin: 0;
  	position: relative;
  	display: flex;
}
h1{
	color: white;
	margin: 1em auto;
	width: 80%;
	font-family: netflix;
}
aside{
	width: 20%;
	display: inline
}
section{
	margin: 5em auto;
}

ul{	
	display: inline;
}
li{
	display: block;
	margin-top: 1.2em;
	transition: all .2s ease-in-out;
}
li a{
	color: red;
	padding:1.2em;
	margin: 1.3em;
	font-family: netflix;
	letter-spacing: 0.1em;
	text-decoration: none;
	font-size: 1.1em;
}
li:hover{
	transform: scaleX(1.1); /* Equal to scaleX(0.7) scaleY(0.7) */
}
body h2{
	color: white;
	font-family: netflix;
	padding-bottom: .05em;
}
body h2:after{
	text-align: center;
	margin-top: -0.8em;
	display: block;
	content: "________________"
}
article{
	text-align: center;
}

article p{
	color: white;
	font-family: netflix;
	display: inline;
}
body p{
	font-size: 1.3em;
}

#enable{
	border: none;
	background-color:black;
	color: red;
	letter-spacing: 0.1em;
	font-family: netflix;
	margin: 0.4em auto;
	display: inherit;
}
#enable:hover{
	cursor: pointer;
	transform: scale(1.02);
}
form{
	text-align: center;
	transition: visibility 5s;
}
input{
	color: white;
	border:solid 1px white;
	border-top-left-radius: 1.1em;
	border-bottom-left-radius: 1.1em;
	border: none;
	padding: 0.4em;
	background-color: red;
}
.add{
	border-top-right-radius: 1.1em;
	border-bottom-right-radius: 1.1em;
	border: none;
	padding: 0.1em;
	font-size: 1.1em;
	background-color: red;
	color: white;
}
.delete{
	background-color: black;
	color: white;
	border: none;
}

.hide{
	visibility: hidden;
}
.show{
	visibility: visible;
}


footer{
	/*border-top: solid 1px red;*/
	position: absolute;
	bottom: 0px;
	width: 100%;
}
footer p{
	color: red;
	font-family: netflix;
	letter-spacing: 0.1em;
}