@font-face {
  font-family: netflix;
  src: url(static/bebasnue.otf);
}
header img{
	width: 60px;
}
body{
	background-color: black;
  	height: 100%;
  	margin: 0;
  	position: relative;
}
aside{
	width: 20%;
}
article{
	width: 20%;
	margin: auto;
}

ul{	
	display: inline;
}
li{
	display: block;
}
h4{
	color: white;
	font-family: netflix;
	display: inline;
}
li a{
	color: red;
	padding:1.2em;
	margin: 1.3em;
	font-family: netflix;
	letter-spacing: 0.1em;
	text-decoration: none;
	transition: all .2s ease-in-out;
}
li a:hover{
	transform: scale(1.1); /* Equal to scaleX(0.7) scaleY(0.7) */
}
body p{
	color: white;
	font-family: netflix;
}
input{
	color: white;
	border:solid 1px white;
	border-top-left-radius: 1.1em;
	border-bottom-left-radius: 1.1em;
	border: none;
	padding: 0.4em;
	background-color: red;
}
#enable{
	border: none;
	background-color:black;
	color: red;
	letter-spacing: 0.1em;
	font-family: netflix;
}
#enable:hover{
	cursor: pointer;
	transform: scale(1.02);
}
.add{
	border-top-right-radius: 1.1em;
	border-bottom-right-radius: 1.1em;
	border: none;
	padding: 0.1em;
	font-size: 1.1em;
	background-color: red;
	color: white;
	margin-top: 0.1em;
}
.delete{
	background-color: black;
	color: white;
	border: none;
}

.hide{
	display: none;
}
.show{
	display: inline;
}

footer{
	/*border-top: solid 1px red;*/
	position: absolute;
	bottom: 0px;
	width: 100%;
}
footer p{
	color: red;
	font-family: netflix;
	letter-spacing: 0.1em;
}