:root{
	--red: #e50914;
	--white: #fff;
}

@font-face {
  font-family: netflix;
  src: url(static/bebasnue.otf);
}
@font-face {
  font-family: helvetica;
  src: url(static/Helvetica.otf);
}
header img{
	width: 60px;
}
body{
	background-color: black;
  	height: 100%;
  	margin: 0;
}
h1{
	color: var(--white);
	margin: 1em auto;
	width: 80%;
	font-family: netflix;
}


ul{	
	list-style: none;
	display: inline-block;
}
header li{
	display: inline;
	margin-top: 1.2em;
	transition: all .2s ease-in-out;
}
header li a{
	color: var(--red);
	padding:1.2em;
	margin: 1.3em;
	font-family: netflix;
	letter-spacing: 0.1em;
	text-decoration: none;
	font-size: 1.1em;
}
header li:hover{
	transform: scale(1.1); 
}
body p{
	font-size: 1.3em;
}
body h2{
	color: white;
	font-size: 1.3em;
	font-family: helvetica;
}

/* Article info */
section li{
	margin-top: 1em; 
	padding: 0.5em;
	cursor: grab;
	transition: 1s all;
}
section li img{
	vertical-align: middle;
	height: 5em;
}
section li p, span{
	margin-left: 1.1em;
	color: white;
	font-family: netflix;
	display: inline;
}
section li:hover{
	transform: scaleX(1.02); 
}
li small{
	color: white;
	font-family: netflix;
	margin-right: 0.4em; 
}

#enable{
	border: solid 1px var(--red);
	background-color: var(--red);
	color: white;
	letter-spacing: 0.1em;
	padding: 0.5em;
	font-size: 1.1em;
	font-family: netflix;
	margin: 0.4em auto;
	display: inherit;
}
#enable:hover{
	cursor: pointer;
	transform: scale(1.02);
}
form{
	text-align: center;
	transition: visibility 5s;
}
input{
	color: white;
	border:solid 1px white;
	border: none;
	padding: 0.44em;
	background-color: var(--red);
}
.add{
	border: none;
	padding: 0.09em;
	font-size: 1em;
	background-color: var(--red);
	color: white;
}
.delete{
	background-color: black;
	color: white;
	border: none;
}

.hide{
	display: none !important;
}
.show{
	display: block;
}

/* Footer info */

footer{
	/*border-top: solid 1px red;*/
	position: absolute;
	bottom: 0px;
	width: 100%;
}
footer p{
	color: red;
	font-family: netflix;
	letter-spacing: 0.1em;
}